@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <NavMenu />
    <main>
        <article>
            @Body
        </article>
    </main>
</div>
