<nav class="nav">
    <div class="nav-brand">HomeYarp</div>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="applications">Applications</NavLink></li>
        <li><NavLink href="certificates">Certificates</NavLink></li>
        <li><NavLink href="settings">Settings</NavLink></li>
    </ul>
</nav>
